@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>password reset</title>
</head>
<body>
    <label>Enter Password:</label>
    <input type='password' id="password" name='password'><br><br>
    <label>Confirm Password</label>
    <input type='password' id="confirm_password" name='confirm_password'><br><br>
    <button type="button" onclick="submit()">Update Password</button>
    <script type="text/javascript">
		function submit() {
		  var password = document.getElementById('password').value;
            var confirm_password = document.getElementById('confirm_password').value;
            var jwt = '@ViewBag.jwt';
		  if (password == confirm_password) {
		  	//alert('true')
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      window.location.href = "https://pos.biz1book.com";
  };
              xhttp.open("GET", "https://localhost:44383/api/Login/update_password?jwt=" + jwt + "&password=" + password, true);
xhttp.send();
		  } else {
		  	alert('password mismatch')
		  }
		}
    </script>
</body>
</html>